/*-----Global Styles-----*/

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova.woff') format('woff'), url('../fonts/ProximaNova.ttf') format('truetype'), url('../fonts/ProximaNova.svg#OpenSans-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans.woff') format('woff'), url('../fonts/OpenSans.ttf') format('truetype'), url('../fonts/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

body,
p {
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    /*'OpenSans-Light'*/
    color: #555559;
    line-height: 24px;
}

body {
    background-color: #fff;
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    /*'OpenSans-Light'*/
    color: #555559;
    line-height: normal;
    -webkit-overflow-scrolling: touch;
}

h1,
h2 {
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    color: #555559;
    line-height: normal;
}

h1 {
    font-size: 56px;
    font-weight: 300;
    /*'OpenSans-Light'*/
}

h2 {
    font-size: 24px;
    font-weight: 700;
    /*'OpenSans-Bold'*/
    margin-left: -45px;
    margin-bottom: 30px;
}

.content-wrapper {
    box-sizing: border-box;
    width: auto;
    margin: 0 auto;
}


/*-----Global Styles END-----*/


/*-----HEADER-----*/

.header .header-background:before {
    color: #fff;
    font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    /*'ProximaNova-Semibold'*/
    content: "#hotdogs";
    display: block;
    float: right;
    height: 30px;
    margin-right: 80px;
    margin-top: 20px;
    padding-left: 28px;
    width: 20px;
    background: url(../images/instagram-icon.gif) no-repeat 0 2px;
}

.header .header-background {
    -webkit-box-shadow: 0 55px 55px -20px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: 0 55px 55px -20px rgba(0, 0, 0, 0.75) inset;
    box-shadow: 0 55px 55px -20px rgba(0, 0, 0, 0.75) inset;
    background: url(../images/header-bigimg.png) repeat-x 0 0;
    height: 480px;
    display: block;
}

.header .main-menu-area {
    clear: both;
}

.header .main-menu {
    text-align: center;
    font-size: 0;
}

.header .main-menu .menu-item {
    display: inline-block;
}

.header .menu-item a {
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    /*'OpenSans-Semibold'*/
    color: #2e2e2e;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding-top: 40px;
    padding-bottom: 35px;
    padding-right: 45px;
    padding-left: 40px;
    border: 1px solid #fff;
}

.header .menu-item a:hover {
    border: 1px solid #555559;
}


/*-----HEADER END-----*/


/*-----INTRO-----*/

.main-intro {
    box-sizing: border-box;
    -webkit-box-shadow: 0 16px 22px -28px rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 0 16px 22px -28px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 16px 22px -28px rgba(0, 0, 0, 0.5) inset;
    padding-top: 100px;
    text-align: center;
    background-color: #fbfafa;
    height: 686px;
}

.main-intro h1:before {
    content: "";
    background: url(../images/hotdog-icon.gif) no-repeat 0 0;
    display: block;
    width: 92px;
    height: 92px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.main-intro .button {
    display: inline-block;
    margin-top: 80px;
    padding-left: 38px;
    padding-right: 32px;
    background: url(../images/bg-button.png) repeat-x 0 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    font-weight: 600;
    /*'OpenSans-Semibold'*/
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}


/*-----INTRO END-----*/


/*-----MAIN SECTION-----*/

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    width: 50%;
    float: left;
}

.main-section .maintext {
    width: 475px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 220px;
}

.main-section .maintext h2:before {
    content: "\2014";
    margin-right: 20px;
    color: #286782;
}

.main-section .mainimg {
    line-height: 0;
}

.main-section .mainimg img {
    width: 100%;
    height: auto;
}


/*-----MAIN SECTION END-----*/


/*-----FOOTER-----*/

.footer {
    height: 75px;
    background-color: #efefef;
}

.footer .column {
    padding-top: 30px;
}

.footer .textright {
    text-align: right;
}

.footer p {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
}

.footer .copyright {
    padding-left: 20px;
}

.footer .address {
    padding-right: 82px;
}

.footer p span {
    display: inline-block;
}

.footer p span:after {
    content: "\05C0";
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.footer p span:last-child:after {
    content: "";
}


/*-----FOOTER END-----*/

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .main-section .maintext {
        width: 320px;
        padding-top: 150px;
    }
    .footer {
        height: auto;
    }
    .footer .column {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .footer p {
        text-align: center;
    }
    .footer .copyright {
        padding: 0;
    }
    .footer .address {
        padding: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .main-section .maintext {
        width: 290px;
        padding-top: 110px;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .header .main-menu .menu-item {
        display: block;
    }
    .main-section .maintext {
        width: 290px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .column {
        width: 100%;
    }
    .odd {
        display: flex;
        flex-direction: column-reverse;
    }
    .footer {
        height: auto;
    }
    .footer .column {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .footer p {
        text-align: center;
    }
    .footer .copyright {
        padding: 0;
        text-align: center;
    }
    .footer .address {
        padding: 0;
    }
}

@media (max-width: 479px) {
    .header .header-background {
        background-size: 320px auto;
        height: 160px;
    }
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 20px;
        margin-left: -20px;
    }
    .header .main-menu .menu-item {
        display: block;
    }
    .main-section .maintext h2:before {
        content: "";
    }
    .main-section .maintext {
        width: 290px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .column {
        width: 100%;
    }
    .odd {
        display: flex;
        flex-direction: column-reverse;
    }
    .footer {
        height: auto;
    }
    .footer .column {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .footer p {
        text-align: center;
    }
    .footer .copyright {
        padding: 0;
        text-align: center;
    }
    .footer .address {
        padding: 0;
    }
}
